node-red-flow
[{"id":"2c590b17.d3a6f4","type":"twitter out","twitter":"","name":"Tweet","x":624,"y":161,"z":"58849d98.a77b64","wires":[]},{"id":"d78b2936.2874d8","type":"inject","name":"Manual Test Input (Time Stamp)","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":182,"y":295,"z":"58849d98.a77b64","wires":[["28e6197d.d719e6"]]},{"id":"c01ba88e.3fe458","type":"debug","name":"Manual Debug","active":true,"console":"false","complete":"payload","x":669,"y":296,"z":"58849d98.a77b64","wires":[]},{"id":"28e6197d.d719e6","type":"function","name":"","func":"if(msg.payload === 1){\n    msg = 'ON'\n}\nif(msg.payload === 0){\n    msg = 'OFF'\n}\n\nreturn msg;","outputs":1,"valid":true,"x":431,"y":102,"z":"58849d98.a77b64","wires":[["2c590b17.d3a6f4"]]},{"id":"64042e4b.9bfbd","type":"rpi-gpio in","name":"Input Latch (Door)","pin":"18","intype":"tri","read":false,"x":202,"y":164,"z":"58849d98.a77b64","wires":[["28e6197d.d719e6"]]}]
